#tictac-tracker:not(:hover):not(.minimized) header, 
#tictac-tracker:not(:hover):not(.minimized) .controls,  
#tictac-tracker:not(:hover):not(.minimized) .window-resize-handle {
    opacity: 0;
}

#tictac-tracker .window-content {
    backdrop-filter: none;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.8);
}

.tictac-trackers-window {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  transition: background-color 0.3s ease-in-out, 
      box-shadow 0.3s ease-in-out;
  border: none;
  padding: 0.1em;
  border-radius: 8px;
  color: white;
  font-family: var(--font-primary);
}

.tictac-trackers-window:hover {
  background: rgba(30, 30, 30, 0.8);
  box-shadow: 0 0 10px #000;
}

.tictac-trackers-app-body {
  min-width: 400px;
}
.tictac-trackers-app-body.collapsed {
  min-width: 400px;
  height: auto;
  overflow: hidden;
}

.tictac-header {
  display: flex;
}
.tictac-header span {
  margin-right: 10px;
}
.tictac-header-last-span {
  margin-left: auto;
}
.tictac-collapse-button {
  font-size: 10px;
}

.tictac-toggle-collapse {
  text-align: center;
  cursor: pointer;
  margin-bottom: 0.3em;
}

.tictac-empty-add-button {
  text-align: center;
  margin-top: 1em;
}

.tictac-empty-add-button button {
  background: none;
  border: none;
  color: #aaaaaa;
  font-size: 2em;
  cursor: pointer;
}

.tictac-tracker-list {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  margin-top: 0.5em;
  width: auto;
}

.tictac-tracker-row {
  background: rgba(255, 255, 255, 0.05);
  padding: 0.2em;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 0.1em;
  width: auto;
}

.tictac-drag-handle {
  cursor: grab;
  color: #888888;
  margin-left: 0.2em;
}

.tictac-edit-name {
  /*flex-grow: 1;*/
  background: transparent;
  border: none;
  color: white;
  font-size: 1em;
  width: auto;
  min-width: 50px;
}

.tictac-pips {
  display: flex;
  gap: 0.2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.tictac-pip {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #555555;
  border: 1px solid #aaaaaa;
  opacity: 0.3;
}

.tictac-pip.filled {
  opacity: 1;
  background-color: #d703fc;
  border: 1px solid #aaaaaa;
}

.tictac-pip-controls, .tictac-gm-controls {
  display: flex;
  gap: 0.01em;
  padding: 0.01em;
}

.tictac-pip-controls button, .tictac-gm-controls button {
  background: none;
  border: none;
  color: #cccccc;
  font-size: 0.9em;
  cursor: pointer;
  gap: 1px;
  padding: 0.2em;
}

.tictac-tracker-footer {
  text-align: center;
  margin-top: 0.5em;
}

.tictac-tracker-footer button {
  background: none;
  border: none;
  color: #4CAF50;
  cursor: pointer;
  font-size: 1em;
}
